/*  Naam: Jelle Stifter
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid gray;
    border-width: 2px 0px;

    background-color: white;
    padding: 10px 5px;
    max-width: 800px;
    margin: 0 auto;

}
.main-header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}
.main-header .search-icon{
    flex-shrink: 0;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 65px;
}
.logo-box img{
    width: 100px;
    height: 100px;
    display: block;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

.main-nav {
    display: flex;
    justify-content: left;
    padding: 10px 0px;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    bottom-border: 5px double #aaa;

}

.main-nav a {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: #f0f0f0;



}

.main-nav:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Geschiedenis{
    cursor: pointer;
}
.inleiding-titel{
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.inleiding{

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
